* {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: rgb(255, 252, 246);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr auto;
}

aside {
    color: white;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
main {
    grid-column: 2 / 3;
}
header {
    grid-column: 1 / span 2;
}

@media screen and (max-width: 580px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto auto;
    }
    header {
        grid-column: 1 / 2;
    }
    aside {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
    main {
        grid-column: 1 / 2;
    }
    footer {
        grid-column: 1 / 2;
    }
    .block6 {
        grid-column: 1 / 2;
        grid-row: 4 / 5;
    }

    .container1 {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
    }
    .container1 .partFoot:nth-child(1) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .container1 .partFoot:nth-child(2) {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
    .container1 .partFoot:nth-child(3) {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
    }
}

#homeBlock img {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

section {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 10px;
    padding: 10px;
    transition: transform 0.3s ease-in-out;
}

.block5 {
    transition: transform 0.3s ease-in-out;
    color: rgb(23, 51, 30);
    max-width: 95%;
    padding: 10px;
}
.block5 h3 {
    color: rgb(75, 94, 74);
    font-family:'Helvetica';
}
.block5 .textBlock {
    border: 1px solid rgb(75, 94, 74);
    background-color: rgba(255, 255, 255, 0.545);
    border-radius: 3px;
    padding: 10px;
    margin: 5px 0px 5px 0px;
}
.block5 .textBlock p {
    color: rgb(75, 94, 74);
    font-family:'Helvetica';
    font-size: 15px;
    margin: 0;
}
.textBlock:nth-child(5) p, .textBlock:nth-child(6) p {
    margin-bottom: 7px;
}
.block5 .textBlock a {
    text-decoration: none;
    color: white;
    transition: all 400ms ease-out;
    font-family:'Helvetica';
    background-color: rgb(79, 122, 65);
    border-radius: 50px;
    padding: 5px;
}
.block5 .textBlock a:hover {
    background-color: rgb(91, 143, 73);
}
